<!DOCTYPE html>
<html lang="en" ng-app="dbpv">

<head>
<!-- BOOTSTRAP CSS -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.css"></link>
	<link rel="stylesheet" href="css/bootstrap-glyphicons.css"></link>
	<link rel="stylesheet" href="css/dbpv.css"></link>

	<title>Index</title>
	<script src="js/jquery.js"></script>
	<script src="js/jquery.rdfquery.core.js"></script>
	<script src="js/jquery.rdfquery.rdfa.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/commons.js"></script>
	<script src="js/taf.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
</head>
<body>


<div id="dynamic" style="display:none;" >
	<script type="text/javascript">
		try{
			document.getElementById("dynamic").style.display = "block";
		}catch(err) {
			alert("shwoing error: "+err.message);
		}
		//alert("hidden");
		
	</script>
	<div class="navbar">
		<div class="dbp-logo">
			<img src="css/200px-dbpedia.png"></img>
			<p> Named Graph: dbpedia.org </p>
			<p> Data Space: localhost </p>
		</div>
		<div id="searchbar" ng-controller="LookupCtrl">
			<form novalidate class="simple-form form-inline">
				<div class="form-group">
					<input type="text" class="form-control entity-search dbpv-input" ng-model="term" onblur="clearResults()"/>
					<button type="button" class="btn-entity-search btn btn-primary" id="search" ng-click="dolookup()">
						<span class="glyphicon glyphicon-search"></span>
					</button>
					<select class="form-control select-lang" ng-model="primary_language" ng-options="lang.code as lang.label for lang in languages">
					</select>
				</div>
				<ul id="lookup-results">
					<li ng-repeat="result in results">
						<a href="{{result.url}}" ng-click="clearResults()">{{result.short}}</a>
					</li>
				</ul>
			</form>
	
		</div>
	</div>

	<div id="page-contents" ng-view></div>

</div>







<div id="static">

	<script type="text/javascript">
		try{
			document.getElementById("static").style.display = "none";
		}catch(err) {
			alert("hiding error: "+err.message);
		}
		//alert("hidden");
		
	</script>

	NO SCRIPTS

</div>






</body>
</html>

